<div class="questions-container">
  <ul class="questions-container_questions">
    <li *ngFor="let item of questions">
      <span>{{item.question}}</span>
      <span *ngIf="item.question === null"
      >{{item.question}} null</span>
      <span *ngIf="item.question === ''"
      >{{item.question}} Empty String: " "</span>
      <hr>
      <ng-container *ngFor="let info of answers">
        <button
          *ngIf="item.id === 1 && info.id === 1"
          (click)="openDialog('stop')"
        >Click for Response</button>
        <button
          *ngIf="item.id === 2 && info.id === 4 ? saySomething('Got it!') : null"
          (click)="openDialog('got')"
        >Click for Response</button>
        <button
          *ngIf="item.id === 3 && info.id === 3 ? saySomething('I don\'t understand.') : null"
          (click)="openDialog('don\'t-invalidChar')"
        >Click for Response</button>
        <button
          *ngIf="item.id === 4 && info.id === 2 ? saySomething('Yes!') : null"
          (click)="openDialog('yes')"
        >Click for Response</button>
        <button
          *ngIf="item.id === 5 && info.id === 3 ? saySomething('I don\'t understand.') : null"
          (click)="openDialog('don\'t-num')"
        >Click for Response</button>
        <button
          *ngIf="item.id === 6 && info.id === 5 ? saySomething('Say Something') : null"
          (click)="openDialog('say-null')"
        >Click for Response</button>
        <button
          *ngIf="item.id === 7 && info.id === 5 ? saySomething('Say Something') : null"
          (click)="openDialog('say-empty')"
        >Click for Response</button>
      </ng-container>

    </li>
  </ul>
</div>
