<div class="dialog-container">
  <mat-dialog-content>
    <h2>Response:</h2>
    <ul>
      <li *ngFor="let item of questions">
        <ng-container *ngFor="let info of answers">
          <span
            *ngIf="item.id === 1 && info.id === 1 && action === 'stop'"
            [ngClass]="action === 'stop' ? 'show' : 'hide'"
          >{{info.answer}}</span>
          <span
            *ngIf="item.id === 2 && info.id === 4 && action === 'got'"
            [ngClass]="action === 'got' ? 'show' : 'hide'"
          >{{info.answer}}</span>
          <span
            *ngIf="item.id === 3 && info.id === 3 && action === 'don\'t-invalidChar'"
            [ngClass]="action === 'don\'t-invalidChar' ? 'show' : 'hide'"
          >{{info.answer}}</span>
          <span
            *ngIf="item.id === 4 && info.id === 2 && action === 'yes'"
            [ngClass]="action === 'yes' ? 'show' : 'hide'"
          >{{info.answer}}</span>
          <span
            *ngIf="item.id === 5 && info.id === 3 && action === 'don\'t-num'"
            [ngClass]="action === 'don\'t-num' ? 'show' : 'hide'"
          >{{info.answer}}</span>
          <span
            *ngIf="item.id === 6 && info.id === 5 && action === 'say-null'"
            [ngClass]="action === 'say-null' ? 'show' : 'hide'"
          >{{info.answer}}</span>
          <span
            *ngIf="item.id === 7 && info.id === 5 && action === 'say-empty'"
            [ngClass]="action === 'say-empty' ? 'show' : 'hide'"
          >{{info.answer}}</span>
        </ng-container>
      </li>
    </ul>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>

</div>
